@charset "UTF-8";

body{
    background-color: cadetblue;
}

.container{
    display: grid;
    place-items: center;
}

.box{
    width: 190px;
    height: 110px;
    text-align: center;
    background-color: #add8e6;
    border: 20px solid lightblue;
    border-radius: 8px;
    padding: 10px 0px 40px;
    box-shadow: 3px 3px #21e5f3a1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2{
    color: rgb(4, 6, 136);
    font-size: 22pt;
    margin-top: 0px;
    -webkit-text-stroke: 0.45px rgb(17, 2, 24);
}

h3{
    color: rgb(4, 6, 136);
    margin-bottom: 10px;
    -webkit-text-stroke: 0.45px rgb(17, 2, 24);
}

input#txtnum{
    border-radius: 10px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 85px;
}

input#botao{
    margin-top: 20px;
    border-radius: 9px;
    width: 65px;
    height: 25px;
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: 0.5s;
}

input#botao:hover{
    transform: scale(1.2);
    color: white;
    background-color: lightgray;
}

div#resul1{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    border-radius: 10px;
    width: 200px;
    margin: 0 auto;
    padding: 1px 0px 10px 0px;
    text-shadow: 1px 1px black;
}

